<!--The content below is only a placeholder and can be replaced.-->
<h2> {{title}}</h2>
<input type="text" #newToDo>
<button (click) = "addToDo(newToDo.value)">Add</button>

<table>
  <tr>
    <th>Label</th>
    <th>Priority</th>
    <th>Action</th>
    <th>Completed</th>
  </tr>

  <tr *ngFor="let todo of todos">
    <td>{{todo.label}}</td>
    <td>{{todo.priority}}</td>
    <td>{{todo.action ? '&#10003;' : '&#10005;'}}</td>
    <td>
      <button (click) = "deleteToDo(todo)" >Delete</button>
    </td>
  </tr>
</table>
